<section class="section about" id="about-me">
  <div class="container">
    <h2 class="section-title visually-hidden">about-me</h2>

    <div class="about-introduce">
      <p class="about-introduce-text about-introduce-item">
        I work with people all over the world to create impressive and
        <span class="theme">functional </span
        ><span class="decor">websites </span>that reflect each client's unique
        personality.
      </p>
      <picture class="about-introduce-picture about-introduce-item">
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/about-me/about-me-desktop-img.webp    1x,
            /img/about-me/about-me-desktop-img@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/about-me/about-me-desktop-img.jpg    1x,
            /img/about-me/about-me-desktop-img@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/about-me/about-me-tablet-img.webp    1x,
            /img/about-me/about-me-tablet-img@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/about-me/about-me-tablet-img.jpg    1x,
            /img/about-me/about-me-tablet-img@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/about-me/about-me-mobile-img.webp    1x,
            /img/about-me/about-me-mobile-img@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/about-me/about-me-mobile-img.jpg    1x,
            /img/about-me/about-me-mobile-img@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="about-introduce-img"
          src="/img/about-me/about-me-desktop-img.jpg"
          alt="Lloyd Jefferson"
          width="680"
          height="7000"
          loading="lazy"
        />
      </picture>
    </div>

    <ul class="accordion-container about-accordion-container">
      <li class="ac about-ac">
        <div class="ac-header about-ac-header">
          <h3 class="ac-trigger about-ac-trigger">About me</h3>
          <button class="about-btn" type="button">
            <svg class="about-arrow-down" width="12" height="12">
              <use href="/img/icons/icons-sprite.svg#arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel about-ac-panel">
          <p class="ac-text about-ac-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="ac-text about-ac-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>

      <li class="ac about-ac">
        <div class="ac-header about-ac-header">
          <h3 class="ac-trigger about-ac-trigger">Role</h3>
          <button class="about-btn" type="button">
            <svg class="about-arrow-down" width="12" height="12">
              <use href="/img/icons/icons-sprite.svg#arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel about-ac-panel">
          <p class="ac-text about-ac-text margin-text">Frontend development</p>
          <p class="ac-text about-ac-text margin-text">HeadlessCMS,Wordpress</p>
          <p class="ac-text about-ac-text">Blender(enjoy)</p>
        </div>
      </li>

      <li class="ac about-ac">
        <div class="ac-header about-ac-header">
          <h3 class="ac-trigger about-ac-trigger">EDUCATION</h3>
          <button class="about-btn" type="button">
            <svg class="about-arrow-down" width="12" height="12">
              <use href="/img/icons/icons-sprite.svg#arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel about-ac-panel">
          <p class="ac-text about-ac-text margin-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
          <p class="ac-text about-ac-text margin-text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </p>
          <p class="ac-text about-ac-text">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </div>
      </li>
    </ul>

    <div class="about-swiper-inner">
      <div class="about-swiper swiper">
        <ul class="about-swiper-wrapper swiper-wrapper">
          <li class="about-swiper-slide swiper-slide">HTML/CSS</li>
          <li class="about-swiper-slide swiper-slide">JavaScript</li>
          <li class="about-swiper-slide swiper-slide">React</li>
          <li class="about-swiper-slide swiper-slide">Node.js</li>
          <li class="about-swiper-slide swiper-slide">React Native</li>
          <li class="about-swiper-slide swiper-slide">Soft skills</li>
          <li class="about-swiper-slide swiper-slide">HTML/CSS</li>
          <li class="about-swiper-slide swiper-slide">JavaScript</li>
          <li class="about-swiper-slide swiper-slide">React</li>
          <li class="about-swiper-slide swiper-slide">Node.js</li>
          <li class="about-swiper-slide swiper-slide">React Native</li>
          <li class="about-swiper-slide swiper-slide">Soft skills</li>
        </ul>
      </div>
      <button class="about-swiper-btn-next swiper-button-next" type="button">
        <svg class="about-swiper-arrow-svg" width="12" height="12">
          <use href="/img/icons/icons-sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
