<section class="faq section" id="faq">
  <div class="container">
    <h2 class="faq-title section-title">faq</h2>
    <ul class="faq-accordion-container">
      <li class="ac faq-ac faq-ac-1">
        <div class="ac-header faq-ac-header">
          <h3 class="ac-trigger faq-ac-trigger">
            <span class="faq-ac-span"
              >What programming languages are most often used in your
              project?</span
            >
          </h3>
          <button class="faq-btn" type="button">
            <svg class="faq-btn-svg" width="12" height="12">
              <use href="/img/icons/icons-sprite.svg#arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel faq-ac-panel">
          <p class="ac-text faq-ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac faq-ac faq-ac-2">
        <div class="ac-header faq-ac-header">
          <h3 class="ac-trigger faq-ac-trigger">
            <span class="faq-ac-span"
              >What are the deadlines for the project?</span
            >
          </h3>
          <button class="faq-btn" type="button">
            <svg class="faq-btn-svg" width="12" height="12">
              <use href="/img/icons/icons-sprite.svg#arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel faq-ac-panel">
          <p class="ac-text faq-ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac faq-ac faq-ac-3">
        <div class="ac-header faq-ac-header">
          <h3 class="ac-trigger faq-ac-trigger">
            <span class="faq-ac-span">What payment methods do you accept?</span>
          </h3>
          <button class="faq-btn" type="button">
            <svg class="faq-btn-svg" width="12" height="12">
              <use href="/img/icons/icons-sprite.svg#arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel faq-ac-panel">
          <p class="ac-text faq-ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="ac faq-ac faq-ac-4">
        <div class="ac-header faq-ac-header">
          <h3 class="ac-trigger faq-ac-trigger">
            <span class="faq-ac-span">How can I contact you?</span>
          </h3>
          <button class="faq-btn" type="button">
            <svg class="faq-btn-svg" width="12" height="12">
              <use href="/img/icons/icons-sprite.svg#arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel faq-ac-panel">
          <p class="ac-text faq-ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac faq-ac faq-ac-5">
        <div class="ac-header faq-ac-header">
          <h3 class="ac-trigger faq-ac-trigger">
            <span class="faq-ac-span">Do you provide advice or support?</span>
          </h3>
          <button class="faq-btn" type="button">
            <svg class="faq-btn-svg" width="12" height="12">
              <use href="/img/icons/icons-sprite.svg#arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel faq-ac-panel">
          <p class="ac-text faq-ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac faq-ac faq-ac-6">
        <div class="ac-header faq-ac-header">
          <h3 class="ac-trigger faq-ac-trigger">
            <span class="faq-ac-span"
              >What does the process of developing a software product look like
              from idea to implementation?</span
            >
          </h3>
          <button class="faq-btn" type="button">
            <svg class="faq-btn-svg" width="12" height="12">
              <use href="/img/icons/icons-sprite.svg#arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel faq-ac-panel">
          <p class="ac-text faq-ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
