<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      <span class="hero-title-span">Hello. </span>I’m Fullstack developer Lloyd
      Jefferson.
    </h1>
    <div class="hero-link-wrapper">
      <ul class="hero-social-list">
        <li class="hero-social-item">
          <a class="hero-social-link" href="https://www.instagram.com/goitclub/"
            >ig</a
          >
        </li>
        <li class="hero-social-item">
          <a class="hero-social-link" href="https://www.facebook.com/goITclub/"
            >fb</a
          >
        </li>
        <li class="hero-social-item">
          <a class="hero-social-link" href="https://www.youtube.com/c/GoIT"
            >yt</a
          >
        </li>
        <li class="hero-social-item">
          <a
            class="hero-social-link"
            href="https://github.com/ConstantineKobushka/lloyd-jefferson"
            >gh</a
          >
        </li>
      </ul>
      <address class="hero-address">
        <a class="hero-address-email" href="mailto:lloydjefferson@gmail.com">
          lloydjefferson@gmail.com
        </a>
      </address>
    </div>
  </div>
</section>
