<div class="mobile-menu-backdrop">
  <div class="mobile-menu-modal">
    <button class="mobile-menu-modal-btn" type="button">
      <svg class="mobile-menu-svg" width="18" height="14">
        <use href="/img/icons/icons-sprite.svg#close"></use>
      </svg>
    </button>
    <nav class="mobile-menu">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#about-me">About me</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#benefits">Benefits</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#projects">Projects</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <a class="mobile-menu-order-link" href="#work-together"
      >Order the project</a
    >
  </div>
</div>
