<section class="projects section" id="projects">
  <div class="container">
    <h2 class="section-title">Projects</h2>

    <div class="projects-inner">
      <div class="projects-slider swiper">
        <ul class="projects-wrapper swiper-wrapper">
          <li class="projects-slide swiper-slide">
            <div class="projects-content">
              <ul class="projects-technologies">
                <li class="projects-technology">#react</li>
                <li class="projects-technology">#js</li>
                <li class="projects-technology">#nodejs</li>
                <li class="projects-technology">#git</li>
              </ul>

              <h3 class="projects-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>

              <a
                class="projects-link"
                href="https://constantinekobushka.github.io/lloyd-jefferson/"
                target="_blank"
              >
                See project
              </a>
            </div>

            <div class="projects-preview">
              <picture class="projects-picture">
                <source
                  media="(min-width:768px)"
                  srcset="
                    /img/projects/projects-desktop-slide-1.webp    1x,
                    /img/projects/projects-desktop-slide-1@2x.webp 2x
                  "
                  type="image/webp"
                />

                <source
                  media="(min-width:768px)"
                  srcset="
                    /img/projects/projects-desktop-slide-1.jpg    1x,
                    /img/projects/projects-desktop-slide-1@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <source
                  media="(min-width:320px)"
                  srcset="
                    /img/projects/projects-mobile-slide-1.webp    1x,
                    /img/projects/projects-mobile-slide-1@2x.webp 2x
                  "
                  type="image/webp"
                />

                <source
                  media="(min-width:320px)"
                  srcset="
                    /img/projects/projects-mobile-slide-1.jpg    1x,
                    /img/projects/projects-mobile-slide-1@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <img
                  class="projects-img"
                  src="/img/projects/projects-desktop-slide-1.jpg"
                  alt="Project Read Journey"
                  width="614"
                  height="385"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>

          <li class="projects-slide swiper-slide">
            <div class="projects-content">
              <ul class="projects-technologies">
                <li class="projects-technology">#react</li>
                <li class="projects-technology">#js</li>
                <li class="projects-technology">#nodejs</li>
                <li class="projects-technology">#git</li>
              </ul>

              <h3 class="projects-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>

              <a
                class="projects-link"
                href="https://constantinekobushka.github.io/lloyd-jefferson/"
                target="_blank"
              >
                See project
              </a>
            </div>

            <div class="projects-preview">
              <picture class="projects-picture">
                <source
                  media="(min-width:768px)"
                  srcset="
                    /img/projects/projects-desktop-slide-2.webp    1x,
                    /img/projects/projects-desktop-slide-2@2x.webp 2x
                  "
                  type="image/webp"
                />

                <source
                  media="(min-width:768px)"
                  srcset="
                    /img/projects/projects-desktop-slide-2.jpg    1x,
                    /img/projects/projects-desktop-slide-2@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <source
                  media="(min-width:320px)"
                  srcset="
                    /img/projects/projects-mobile-slide-2.webp    1x,
                    /img/projects/projects-mobile-slide-2@2x.webp 2x
                  "
                  type="image/webp"
                />

                <source
                  media="(min-width:320px)"
                  srcset="
                    /img/projects/projects-mobile-slide-2.jpg    1x,
                    /img/projects/projects-mobile-slide-2@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <img
                  class="projects-img"
                  src="/img/projects/projects-desktop-slide-2.jpg"
                  alt="Project Pet Love"
                  width="614"
                  height="385"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>

          <li class="projects-slide swiper-slide">
            <div class="projects-content">
              <ul class="projects-technologies">
                <li class="projects-technology">#react</li>
                <li class="projects-technology">#js</li>
                <li class="projects-technology">#nodejs</li>
                <li class="projects-technology">#git</li>
              </ul>

              <h3 class="projects-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>

              <a
                class="projects-link"
                href="https://constantinekobushka.github.io/lloyd-jefferson/"
                target="_blank"
              >
                See project
              </a>
            </div>

            <div class="projects-preview">
              <picture class="projects-picture">
                <source
                  media="(min-width:768px)"
                  srcset="
                    /img/projects/projects-desktop-slide-3.webp    1x,
                    /img/projects/projects-desktop-slide-3@2x.webp 2x
                  "
                  type="image/webp"
                />

                <source
                  media="(min-width:768px)"
                  srcset="
                    /img/projects/projects-desktop-slide-3.jpg    1x,
                    /img/projects/projects-desktop-slide-3@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <source
                  media="(min-width:320px)"
                  srcset="
                    /img/projects/projects-mobile-slide-3.webp    1x,
                    /img/projects/projects-mobile-slide-3@2x.webp 2x
                  "
                  type="image/webp"
                />

                <source
                  media="(min-width:320px)"
                  srcset="
                    /img/projects/projects-mobile-slide-3.jpg    1x,
                    /img/projects/projects-mobile-slide-3@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <img
                  class="projects-img"
                  src="/img/projects/projects-desktop-slide-3.jpg"
                  alt="Project VocabBuilder"
                  width="614"
                  height="385"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="projects-btn-container">
      <button
        class="projects-btn projects-btn-prev swiper-button-prev"
        type="button"
      >
        <svg class="projects-arrow" width="18" height="14">
          <use href="/img/icons/icons-sprite.svg#arrow-left"></use>
        </svg>
      </button>

      <button
        class="projects-btn projects-btn-next swiper-button-next"
        type="button"
      >
        <svg class="projects-arrow" width="18" height="14">
          <use href="/img/icons/icons-sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
