<section class="reviews section">
  <div class="container">
    <h2 class="section-title">reviews</h2>
    <p class="reviews-not-found">Reviews not found</p>
    <div class="reviews-swiper swiper">
      <ul class="reviews-wrapper swiper-wrapper"></ul>
    </div>
    <div class="reviews-btn-container">
      <button
        class="reviews-btn reviews-btn-prev swiper-button-prev"
        type="button"
      >
        <svg class="reviews-svg" width="18" height="14">
          <use href="/img/icons/icons-sprite.svg#arrow-left"></use>
        </svg>
      </button>

      <button
        class="reviews-btn reviews-btn-next swiper-button-next"
        type="button"
      >
        <svg class="reviews-svg" width="18" height="14">
          <use href="/img/icons/icons-sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
