<section class="reviews section">
  <div class="container">
    <h2 class="section-title">reviews</h2>
    <div class="reviews-slider swiper">
      <ul class="reviews-wrapper swiper-wrapper">
        <li class="reviews-slide swiper-slide">
          <img
            class="reviews-img"
            src="https://ftp.goit.study/img/avatars/4.jpg"
            alt=""
            width="48"
            height="48"
            loading="lazy"
          />
          <h3 class="reviews-title">Natalia</h3>
          <p class="reviews-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li>

        <li class="reviews-slide swiper-slide">
          <img
            class="reviews-img"
            src="https://ftp.goit.study/img/avatars/4.jpg"
            alt=""
            width="48"
            height="48"
            loading="lazy"
          />
          <h3 class="reviews-title">Natalia</h3>
          <p class="reviews-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li>

        <li class="reviews-slide swiper-slide">
          <img
            class="reviews-img"
            src="https://ftp.goit.study/img/avatars/4.jpg"
            alt=""
            width="48"
            height="48"
            loading="lazy"
          />
          <h3 class="reviews-title">Natalia</h3>
          <p class="reviews-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li>

        <li class="reviews-slide swiper-slide">
          <img
            class="reviews-img"
            src="https://ftp.goit.study/img/avatars/4.jpg"
            alt=""
            width="48"
            height="48"
            loading="lazy"
          />
          <h3 class="reviews-title">Natalia</h3>
          <p class="reviews-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li>

        <li class="reviews-slide swiper-slide">
          <img
            class="reviews-img"
            src="https://ftp.goit.study/img/avatars/4.jpg"
            alt=""
            width="48"
            height="48"
            loading="lazy"
          />
          <h3 class="reviews-title">Natalia</h3>
          <p class="reviews-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li>

        <li class="reviews-slide swiper-slide">
          <img
            class="reviews-img"
            src="https://ftp.goit.study/img/avatars/4.jpg"
            alt=""
            width="48"
            height="48"
            loading="lazy"
          />
          <h3 class="reviews-title">Natalia</h3>
          <p class="reviews-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li>

        <li class="reviews-slide swiper-slide">
          <img
            class="reviews-img"
            src="https://ftp.goit.study/img/avatars/4.jpg"
            alt=""
            width="48"
            height="48"
            loading="lazy"
          />
          <h3 class="reviews-title">Natalia</h3>
          <p class="reviews-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li>

        <li class="reviews-slide swiper-slide">
          <img
            class="reviews-img"
            src="https://ftp.goit.study/img/avatars/4.jpg"
            alt=""
            width="48"
            height="48"
            loading="lazy"
          />
          <h3 class="reviews-title">Natalia</h3>
          <p class="reviews-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li>
      </ul>
    </div>
    <div class="reviews-btn-container">
      <button
        class="reviews-btn reviews-btn-prev swiper-button-prev"
        type="button"
      >
        <svg class="reviews-arrow" width="18" height="14">
          <use href="/img/icons/icons-sprite.svg#arrow-left"></use>
        </svg>
      </button>

      <button
        class="reviews-btn reviews-btn-next swiper-button-next"
        type="button"
      >
        <svg class="reviews-arrow" width="18" height="14">
          <use href="/img/icons/icons-sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
