.about-introduce {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}
.about-introduce-text {
  font-size: 19px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-primary);
  padding: 25px 25px 0px;
  background-color: var(--background-section);
  border-radius: 24px;
  min-height: 420px;
}
.theme {
}
[data-theme="blue"] .theme {
  color: var(--color-blue);
}
[data-theme="darkred"] .theme {
  color: var(--color-red);
}
[data-theme="yellow"] .theme {
  color: var(--color-yellow);
}
[data-theme="olive"] .theme {
  color: var(--color-green);
}
[data-theme="orange"] .theme {
  color: var(--color-orange);
}
[data-theme="teal"] .theme {
  color: var(--color-teal);
}
.decor {
  color: var(--color-alpha-40);
}
.about-introduce-picture {
}
.about-introduce-img {
  border-radius: 24px;
  min-height: 420px;
}

.about-accordion-container {
  margin-bottom: 32px;
}
.about-ac {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 32px;
  margin-bottom: 0;
}
.about-ac + .about-ac {
  margin-top: 20px;
}
.about-btn-svg {
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.about-ac-header {
  position: relative;
  transition: margin 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.ac.about-ac .ac-trigger.about-ac-trigger {
  font:
    600 16px / 1.5 "Inter Tight",
    sans-serif;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-alpha-40);
  padding: 0;
  min-height: 36px;
  z-index: 1;
}
.about-ac-trigger::after {
  display: none;
}
.about-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  border: 1px solid var(--color-border);
  position: absolute;
  top: 0;
  right: 0;
}
.about-btn-svg {
  stroke: var(--color-primary);
}
.about-ac.is-active .about-btn-svg {
  transform: rotate(180deg);
}
.about-ac.is-active .about-ac-header {
  margin-bottom: 16px;
}
.ac.about-ac .ac-panel.about-ac-panel .ac-text.about-ac-text {
  font:
    500 16px / 24px "Inter Tight",
    sans-serif;
  letter-spacing: -0.32px;
  color: var(--color-primary) !important;
  padding: 0 !important;
  margin-bottom: 32px !important;
}
.ac.about-ac .ac-panel.about-ac-panel .ac-text.about-ac-text:last-child {
  margin-bottom: 0px !important;
}
.ac.about-ac .ac-panel.about-ac-panel .ac-text.about-ac-text.margin-text {
  margin-bottom: 10px !important;
}

.about-swiper-inner {
  position: relative;
  display: flex;
  align-items: center;
}
.about-swiper {
  width: 220px;
  margin-left: 0;
}
.about-swiper-wrapper {
}
.about-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.02em;
  color: var(--color-primary);
  border-radius: 100%;
  width: 110px !important;
  height: 110px;
  border: 1px solid var(--color-border);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

[data-theme="blue"] .about-swiper-slide.swiper-slide-active {
  background-color: var(--color-blue);
  border: 1px solid transparent;
}
[data-theme="darkred"] .about-swiper-slide.swiper-slide-active {
  background-color: var(--color-red);
  border: 1px solid transparent;
}
[data-theme="yellow"] .about-swiper-slide.swiper-slide-active {
  background-color: var(--color-yellow);
  border: 1px solid transparent;
}
[data-theme="olive"] .about-swiper-slide.swiper-slide-active {
  background-color: var(--color-green);
  border: 1px solid transparent;
}
[data-theme="orange"] .about-swiper-slide.swiper-slide-active {
  background-color: var(--color-orange);
  border: 1px solid transparent;
}
[data-theme="teal"] .about-swiper-slide.swiper-slide-active {
  background-color: var(--color-teal);
  border: 1px solid transparent;
}

.about-swiper-btn-next.swiper-button-next {
  width: 28px;
  height: 28px;
  position: relative;
  margin-top: 0;
}
.about-swiper-btn-next svg {
  fill: none;
}
.about-swiper-arrow-svg {
  stroke: var(--color-disable);
}

@media only screen and (min-width: 375px) {
  .about-introduce-text {
    font-size: 23px;
    padding: 32px 32px 0px;
    min-height: 500px;
  }
  .about-introduce-img {
    min-height: auto;
  }
  .about-swiper {
    width: 260px;
  }
  .about-swiper-slide {
    width: 130px !important;
    height: 130px;
  }
}

@media only screen and (min-width: 768px) {
  .about-introduce {
    margin-bottom: 64px;
  }
  .about-introduce-text {
    font-size: 37px;
    line-height: 1.05;
    padding: 64px 64px 0px;
    min-height: 700px;
  }
  .about-accordion-container {
    margin-bottom: 64px;
  }
  .about-ac {
    padding-bottom: 32px;
  }
  .about-ac + .about-ac {
    margin-top: 32px;
  }
  .ac.about-ac .ac-trigger.about-ac-trigger {
    min-height: 40px;
  }
  .about-btn {
    width: 40px;
    height: 40px;
  }
  .about-ac-text {
    margin-bottom: 16px !important;
  }
  .about-swiper {
    width: 600px;
  }
  .about-swiper-slide {
    width: 200px !important;
    height: 200px;
  }
  .about-swiper-btn-next.swiper-button-next {
    margin-right: 8px;
    width: 32px;
    height: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-introduce {
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-bottom: 96px;
  }
  .about-introduce-item {
    width: calc((100% - 16px) / 2);
  }
  .about-accordion-container {
    margin-bottom: 96px;
  }
  .ac-trigger.about-ac-trigger {
    padding: 0px 0px 14px 0px;
  }
  .about-btn {
    width: 40px;
    height: 40px;
  }
  .about-ac-text {
    max-width: 612px;
    margin: 0 68px 0 auto !important;
  }
  .about-swiper {
    width: 1200px;
  }
  .about-swiper-btn-next.swiper-button-next {
    margin-right: 36px;
  }
}
