.covers-wrraper {
  position: relative;
  overflow: hidden;
  height: 508px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 320px;
  margin: 0 auto;
  background-image: var(--covers-bg-mobile);
}
.covers-list {
  transform: translate(-30%, 10%);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.covers-item {
  display: flex;
  gap: 20px;
  transform: rotate(16deg);
  width: max-content;
}
.covers.animate .covers-item {
  animation: marquee 20s linear infinite;
}
.covers.animate .covers-item:nth-child(odd) {
  animation-direction: reverse;
}
.covers-item-picture {
  width: 282px;
}

@keyframes marquee {
  from {
    transform: rotate(16deg) translateX(0);
  }
  to {
    transform: rotate(16deg) translateX(-50%);
  }
}

@media (min-resolution: 192dpi) and (min-width: 320px) {
  .covers-wrraper {
    background-image: var(--covers-bg-mobile-2x);
  }
}

@media only screen and (min-width: 375px) {
  .covers-wrraper {
    max-width: 375px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 390px) {
  .covers-wrraper {
    max-width: 415px;
  }
}

@media only screen and (min-width: 425px) {
  .covers-wrraper {
    max-width: 425px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .covers-wrraper {
    height: 960px;
    max-width: 768px;
    margin: 0 auto;
    background-image: var(--covers-bg-tablet);
  }
  .covers-list {
    gap: 40px;
  }
  .covers-item {
    gap: 30px;
  }
  .covers-item-picture {
    width: 544px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .covers-wrraper {
    background-image: var(--covers-bg-tablet-2x);
  }
}

@media only screen and (min-width: 1440px) {
  .covers-wrraper {
    max-width: 1440px;
    margin: 0 auto;
    background-image: var(--covers-bg-desktop);
  }
  .covers-list {
    transform: translate(-15%, 10%);
  }
  .covers-item-picture {
    width: 544px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 1440px) {
  .covers-wrraper {
    background-image: var(--covers-bg-desktop-2x);
  }
}
