.mobile-menu-backdrop {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: var(--color-black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
[data-theme="blue"] .mobile-menu-backdrop {
  background-image: url("../img/mobile-menu/mobile-menu-blue-bg.png");
}
[data-theme="darkred"] .mobile-menu-backdrop {
  background-image: url("../img/mobile-menu/mobile-menu-red-bg.png");
}
[data-theme="yellow"] .mobile-menu-backdrop {
  background-image: url("../img/mobile-menu/mobile-menu-yellow-bg.png");
}
[data-theme="olive"] .mobile-menu-backdrop {
  background-image: url("../img/mobile-menu/mobile-menu-green-bg.png");
}
[data-theme="orange"] .mobile-menu-backdrop {
  background-image: url("../img/mobile-menu/mobile-menu-orange-bg.png");
}
[data-theme="teal"] .mobile-menu-backdrop {
  background-image: url("../img/mobile-menu/mobile-menu-teal-bg.png");
}
.mobile-menu-backdrop.is-open {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.mobile-menu-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 32px 16px;
}
.mobile-menu-modal-btn {
  display: block;
  width: 28px;
  height: 28px;
  line-height: 0;
  align-self: flex-end;
}
.mobile-menu-svg {
  stroke: var(--color-primary);
  pointer-events: none;
}
.mobile-menu {
}
.mobile-menu-list {
}
.mobile-menu-item {
}
.mobile-menu-item + .mobile-menu-item {
  margin-top: 12px;
}
.mobile-menu-link {
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-underline-position: under;
}
.mobile-menu-order-link {
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.02em;
  padding: 14px 32px;
  border-radius: 60px;
  min-width: 164px;
  height: 45px;
  display: inline-block;
}
[data-theme="blue"] .mobile-menu-order-link {
  background-color: var(--color-blue);
}
[data-theme="darkred"] .mobile-menu-order-link {
  background-color: var(--color-red);
}
[data-theme="yellow"] .mobile-menu-order-link {
  background-color: var(--color-yellow);
}
[data-theme="olive"] .mobile-menu-order-link {
  background-color: var(--color-green);
}
[data-theme="orange"] .mobile-menu-order-link {
  background-color: var(--color-orange);
}
[data-theme="teal"] .mobile-menu-order-link {
  background-color: var(--color-teal);
}

@media (min-resolution: 192dpi) and (min-width: 320px) {
  [data-theme="blue"] .mobile-menu-backdrop {
    background-image: url("../img/mobile-menu/mobile-menu-blue-bg@2x.png");
  }
  [data-theme="darkred"] .mobile-menu-backdrop {
    background-image: url("../img/mobile-menu/mobile-menu-red-bg@2x.png");
  }
  [data-theme="yellow"] .mobile-menu-backdrop {
    background-image: url("../img/mobile-menu/mobile-menu-yellow-bg@2x.png");
  }
  [data-theme="olive"] .mobile-menu-backdrop {
    background-image: url("../img/mobile-menu/mobile-menu-green-bg@2x.png");
  }
  [data-theme="orange"] .mobile-menu-backdrop {
    background-image: url("../img/mobile-menu/mobile-menu-orange-bg@2x.png");
  }
  [data-theme="teal"] .mobile-menu-backdrop {
    background-image: url("../img/mobile-menu/mobile-menu-teal-bg@2x.png");
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu-backdrop {
    display: none;
  }
}
