::-webkit-scrollbar {
  width: 12px;
  background-color: var(--color-alpha-40);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  height: 200px;
  border-radius: 15px;
  border: 2px solid rgb(117 117 119);
  background: var(--theme-linear-gradient);
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
