.work-together {
  position: relative;
  background-image: url("../img/work-together/work-together-mobile-bg.png");
  background-repeat: no-repeat;
  background-size: 85px 552px;
  background-position: right top;
  min-height: 552px;
  max-width: 320px;
  margin: 0 auto;
}
.work-together-top {
  position: relative;
  margin-bottom: 64px;
}
.work-together-picture {
  position: absolute;
}
.work-together-img {
  width: 44px;
  height: 44px;
  border-radius: 15px;
}
.work-together-title {
  font-size: 37px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-indent: 52px;
}
.work-together-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}
.work-together-field + .work-together-field {
  margin-top: 32px;
}
.work-together-input {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--color-primary);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  height: 44px;
  padding: 0 10px 20px 10px;
  border: none;
  border-bottom: 1px solid var(--color-border);
  background-color: transparent;
  outline: none;
}
.work-together-input:focus {
  text-overflow: clip;
}
.work-together-input::placeholder {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--color-alpha-60);
}
.work-together-field {
  position: relative;
}
.message {
  position: absolute;
  left: 0;
  bottom: -24px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  display: inline-block;
  padding-left: 10px;
  display: none;
}
.error {
  color: var(--color-error);
}
.success {
  color: var(--color-succes);
}
.work-together-input:not(:placeholder-shown):valid {
  --current-color: var(--color-succes);
}
.work-together-input:not(:placeholder-shown):invalid {
  --current-color: var(--color-error);
}
.work-together-input {
  border-bottom: 1px solid var(--current-color, var(--color-border));
}
.work-together-input:not(:placeholder-shown):valid ~ .success {
  display: inline-block;
}
.work-together-input:not(:placeholder-shown):invalid ~ .error {
  display: inline-block;
}
.work-together-btn {
  letter-spacing: -0.02em;
  color: var(--color-primary);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 32px;
}
[data-theme="blue"] .work-together-btn {
  background-color: var(--color-blue);
}
[data-theme="darkred"] .work-together-btn {
  background-color: var(--color-red);
}
[data-theme="yellow"] .work-together-btn {
  background-color: var(--color-yellow);
}
[data-theme="olive"] .work-together-btn {
  background-color: var(--color-green);
}
[data-theme="orange"] .work-together-btn {
  background-color: var(--color-orange);
}
[data-theme="teal"] .work-together-btn {
  background-color: var(--color-teal);
}
.work-together-contacts {
  font-style: normal;
}
.work-together-list {
  display: flex;
  align-items: center;
  gap: 4px;
}
.work-together-item {
}
.work-together-link {
  font-size: 11px;
  letter-spacing: -0.02em;
  padding: 10px 12px;
  border-radius: 60px;
  border: 1px solid var(--color-border);
}

.work-together-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-backdrop);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-together-backdrop.is-open {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.work-together-modal {
  text-align: center;
  width: 343px;
  min-height: 276px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--color-border);
  background-color: var(--color-black);
}
.work-together-modal-btn {
  display: block;
  line-height: 0;
  width: 22px;
  height: 22px;
  margin: 0 0 20px auto;
}
.work-together-svg {
  stroke: var(--color-primary);
}
.work-together-modal-title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}
.work-together-modal-text {
  letter-spacing: -0.02em;
  color: var(--color-alpha-60);
}
.iziToast > .iziToast-body {
  display: flex;
}
.iziToast > .iziToast-body .iziToast-message {
  margin: 0;
}
.iziToast > .iziToast-body .iziToast-texts {
  display: flex;
  align-items: center;
  margin: 0;
}
.iziToast > .iziToast-close {
  background-image: url("../img/icons/izitoast-close-icon.svg");
  background-size: 12px 12px;
}

@media (min-resolution: 192dpi) and (min-width: 320px) {
  .work-together {
    background-image: url("../img/work-together/work-together-mobile-bg@2x.png");
  }
}

@media only screen and (min-width: 375px) {
  .work-together {
    max-width: 375px;
  }
  .work-together-title {
    font-size: 40px;
  }
  .work-together-link {
    font-size: 14px;
  }
}

@media only screen and (min-width: 390px) {
  .work-together {
    max-width: 390px;
  }
}

@media only screen and (min-width: 425px) {
  .work-together {
    max-width: 425px;
  }
}

@media only screen and (min-width: 768px) {
  .work-together {
    background-image: url("../img/work-together/work-together-tablet-bg.png");
    background-size: 198px 636px;
    min-height: 636px;
    max-width: 768px;
  }
  .work-together-img {
    width: 70px;
    height: 70px;
  }
  .work-together-title {
    font-size: 64px;
    text-indent: 90px;
  }
  .work-together-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin-bottom: 18px;
  }
  .work-together-field + .work-together-field {
    margin-top: 0;
  }
  .work-together-field {
    width: calc((100% - 214px) / 2);
  }
  .work-together-btn {
    letter-spacing: -0.02em;
    width: 150px;
    height: 150px;
    margin-top: 0;
  }
  .work-together-link {
    font-size: 16px;
    padding: 18px 32px;
  }
  .work-together-modal {
    width: 492px;
    min-height: 246px;
  }
  .work-together-modal-btn {
    width: 24px;
    height: 24px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .work-together {
    background-image: url("../img/work-together/work-together-tablet-bg@2x.png");
  }
}

@media only screen and (min-width: 1440px) {
  .work-together {
    background-image: url("../img/work-together/work-together-desktop-bg.png");
    background-size: 400px 636px;
    max-width: 1440px;
  }
  .work-together-field {
    width: calc((100% - 268px) / 2);
    transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .work-together-input:hover,
  .work-together-input:focus-visible {
    border-bottom: 1px solid var(--color-primary);
  }
  .work-together-link {
    transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .work-together-link:hover,
  .work-together-link:focus-visible {
    border: 1px solid var(--color-primary);
  }
  .work-together-btn {
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  [data-theme="blue"] .work-together-btn:hover,
  [data-theme="blue"] .work-together-btn:focus {
    background-color: var(--color-blue-hover);
  }
  [data-theme="darkred"] .work-together-btn:hover,
  [data-theme="darkred"] .work-together-btn:focus {
    background-color: var(--color-red-hover);
  }
  [data-theme="yellow"] .work-together-btn:hover,
  [data-theme="yellow"] .work-together-btn:focus {
    background-color: var(--color-yellow-hover);
  }
  [data-theme="olive"] .work-together-btn:hover,
  [data-theme="olive"] .work-together-btn:focus {
    background-color: var(--color-green-hover);
  }
  [data-theme="orange"] .work-together-btn:hover,
  [data-theme="orange"] .work-together-btn:focus {
    background-color: var(--color-orange-hover);
  }
  [data-theme="teal"] .work-together-btn:hover,
  [data-theme="teal"] .work-together-btn:focus {
    background-color: var(--color-teal-hover);
  }
}

@media (min-resolution: 192dpi) and (min-width: 1440px) {
  .work-together {
    background-image: url("../img/work-together/work-together-desktop-bg@2x.png");
  }
}
